body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../src/images/playlist1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageNav {
  position: sticky;
  top: 0;
  background: rgba(136, 185, 235, 0.664);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  
}

.playlist tr:last-child > th, .playlist tr:last-child > td {
  border-bottom: none;
}

.routeNav {
  width: 33vw;
}

ul.routeNav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 25px;
}
.routeNav-item > a {
  color: whitesmoke;
  text-decoration: none;
  padding: 5px;
}

.routeNav-item > a:hover {
  color: white;
  text-shadow: 0px 0px 2px white;
}

a.activePage {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;
  background: rgba(136, 185, 235, 0.664);
  color:whitesmoke;
}

